@page "/"

<PageTitle>Home</PageTitle>

<div class="container-fluid">
    <div class="align-content-center">
        <div class="row">
            <div class="col-12">
                <div class="bg-dark">
                    <h1 class="text-center text-light">Welcome to Divide of Argaloth</h1>
                    <p class="text-center text-light" >This is the land of Argaloth. The current year is 4963 AFC (After the Forth Calamty)</p>
                    <img src="images/ArgalothLabeledMap.png" class="img-fluid justify-content-center px-1" alt="Argaloth" />
                </div>
            </div>
        </div>
    </div>
</div>